.leaflet-marker-icon {
    -moz-user-drag: none; 
    -webkit-user-drag: none; 
    user-drag: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.menu-closer {
    position:absolute;
    top:0; left:0;
    padding:0;
    margin:0;
}

.menu {
    position:absolute;
    /*background-color:#f1f1f1;*/
    box-shadow: 3px 3px 6px #bba;
}
.menu .item {
    padding:0.5em 1.5em;
    border-bottom: solid 1px #ddc;
    cursor:pointer;
}
.menu .item:hover {
    background: #459E00 url(http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/south-street/images/ui-bg_highlight-hard_15_459e00_1x100.png) 50% 50% repeat-x;
    color: white;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.ui-button.ui-combo  {
    padding:0.4em 1em;
    color:ButtonText;
}

div.tooltip {
    position: absolute;
    bottom:0.1em;
    font-size:1.5em;
    padding:0.3em 0.5em;
}

@media all and (max-width : 600px) {
    body {
        font-size: 0.92em;
    }
}

@media all and (min-width : 601px) {
    .mobileOnly {
        display:none !important;
    }
    /*body {*/
        /*font-size: 16px;*/
    /*}*/
}

#toolbar {
    position: absolute;
    top: 0em;
    right: 0;
    padding:0.3em;
    width: 85%;
    text-align: right;
}


#introScreen a.button {
    display: block;
    width: 43%;
    float: left;
    margin: auto;
}

#introScreen div.explanation {
    display: block;
    width: 53%;
    float: right;
}

#introScreen div.block {
    margin-top: 20px;
    margin-bottom: 10px;
    float: left;
    clear: both;
}


#directionsPanel {
    display: none;
    position:absolute;
    top:0;
    left:15%;
    max-width: 70%;
    max-height: 80%;
    border-radius: 1em;
    padding:1em;
    overflow:auto;
}

#directionsPanel .point img {
    margin-right:1em;
    vertical-align: middle;
}

#directionsPanel .point td {
    padding:0.25em 0.5em;
}
#directionsPanel .point  {
    clear:both;
}

input.iframe-dimensions {
    width: 4em;
}